<!doctype html>
<html lang="en">
   
    <head>
        <title>{{webPageTitle}}</title>
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        
        
        <meta name="description" content="Neural Network Trainer" />
        <meta name="keywords" content="'neural network' 'machine learning' training handicapping thoroughbred" />        
        <meta name="author" content="Thomas Harris" />
        <meta name="copyright" content="2018, thomas harris" />
        <meta name="publisher" content="thomas harris" />

        <!-- Bootstrap.CSS -->
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
              crossorigin="anonymous">
        
       <!-- Optional internal style sheet -->
        <style type="text/css">
          /* rrtabletest.handlebars*/
          .rrvhead {
            font-size: 8px;
          }

          .verysmall {
              font-size: 8px;
          }

/*
          #home-text-div {
              margin-top: -1rem;
              padding-top: 0;
              border: red solid 1px; */
          }

          @media (max-width: 575px) {
              .home-text { font-size: 0.15rem; margin-bottom: -0.05%; } 
          }

          @media (min-width: 576px) {
              .home-text { font-size: 0.20rem; padding-bottom: 0;  }
          }

          @media (min-width: 768px) {
              .home-text { font-size: 0.60rem; padding-bottom: 0; line-height: 0.8rem; }
          }

          @media (min-width: 992px) {
              .home-text { font-size: 1.00rem; margin-bottom: 0.60rem; line-height: 1.16rem; }
          }

          @media (min-width: 1200px) {
              .home-text { font-size: 1.00rem; margin-bottom: 0.60rem; line-height: 1.16rem; }
          }

          /* (needs additional code) */
          .carousel-control-next-icon:after {
            color: red;
          }

          .carousel-control-prev-icon:after {
            color: red;
          }

/*			
			body {
				background-color: snow;
			}
			
			#wrapper {
				margin: 0 auto;
				width: 875px;
			}

			#temptext {
				position: absolute;
				top: 120px;
				left: 60px;
				right: 100px;
				width: 80%;
				white-space:nowrap;
			}

			.placeholdertext {
				font-size: large;
				font-weight: 900;
				margin-left: 110px;
				margin-right: 100px;
				color: #000066;
				opacity 1.0;
			}

			#horseimage {
				position: absolute;
				left: 120px;
				
				top:80px;
				right:60px;
				width:auto;
			}
			
			#picfile {
				width: 810px;
				height: 400px;
				opacity: .40;
			}
*/

       </style>
        
        <!-- Optional external style sheet
        <link rel="stylesheet" href="./css/styles.css" />  -->
        
        <!-- Optional jQuery UI
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        --> 
    </head>
    
    <body>
      <div class="container">
        <a class="navbar-brand ml-3" href="#">
          <span class="">Neural Trainer</span>
        </a>
                
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
          <div class="navbar-toggler-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
                
          <div class="collapse navbar-collapse flex-column " id="navbar">
                
            <ul class="navbar-nav  w-100 justify-content-center px-3">
              <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Data Upload
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Database
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/htmlroutes/abbrevs"   id="absymtables">Abbrevs &amp; Symbols ...</a>
                  <a class="dropdown-item" href="/htmlroutes/locations" id="geogtables">Geographic Data ...</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Handicapping Method
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ANN Algorithm
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Training
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Prediction
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout" id="navbarDropdownMenuLink">
                  Logout
                </a>
              </li>
            </ul>

                    <!-- This code renders a second row of dropdown links (probably not needed)
                    <ul class="navbar-nav justify-content-center w-100 bg-secondary px-3">
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </li>
                    </ul>
                    -->
          </div>  <!-- collapse navbar-collapse flex-column -->
        </nav>

        {{{ body }}}

        <footer class="page-footer font-small pt-4">
          <div class="footer-copyright text-center text-white py-3">© Copyright 2018 Thomas Harris</div>
        </footer>

      </div>  <!-- container -->

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>

        <script src="https://cdn.rawgit.com/JacobLett/IfBreakpoint/e9fcd4fd/if-b4-breakpoint.min.js"></script> <!-- TWH -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
                crossorigin="anonymous"></script>
                
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
                integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                crossorigin="anonymous"></script>

        <!-- Monitor changes to html, css and javascript -->
<!--    <script src="/javascript/Live.js"></script>  -->

        <!-- Optional external Project/Page JavaScript -->
        <script src="/javascript/main.js"></script>

    </body>
        
</html>