
      <div>
      <nav class="navbar fixed-top navbar-light bg-white ml-5">
        <a class="navbar-brand ml-5" href="index.html">
           <p class="h3 text-white py-3 px-4">Neural Trainer</p>
        </a>
        <ul class="nav nav-tabs">
          <li class="nav-item"><a class="nav-link active" href="/training/criteriaform">Training Criteria</a></li>
          <li class="nav-item"><a class="nav-link" href="">Option 2</a></li>
          <li class="nav-item"><a class="nav-link" href="">Option 3</a></li>
        </ul>
      </nav>
      </div>

      <div>
        <form>
          <div class="row">
            <div class="col">
              <div class="form-check">
                <label class="form-check-label" for="usedistance">Distance</label>
              <input type="checkbox" class="form-check-input" id="usedistance" />
              </div>
            </div> <!-- col -->

            <div class="col">
              <div class="form-check">
                <label class="form-check-label" for="usesurface">Surface</label>
                <input type="checkbox" class="form-check-input" id="usesurface" />
              </div>
            </div> <!-- col -->

          </div> <!-- row -->
        </form>
      </div>