<div class="jumbotron">
  <div class="card-deck">
  <div class="card text-black">
    <img class="card-img-top image-fluid" src="/img/horses-380420__340.jpg"
         height="340" width="50%" style="opacity: .55;"
         alt="Thoroughbreds leaving the starting gate" />
    <div class="card-img-overlay">
      <div id="home-text-div">
        <p class="text-justify font-weight-bold home-text">
            This site is the future home of a revolutionary new Thoroughbred
            Handicapping system. Races will be handicapped using one or more 
            neural networks.</p>

        <p class="text-justify font-weight-bold home-text">
            The methodology is currently under development. It will use not 
            only use past performance statistics and result charts, but also the
            combined knowledge contained in the published works of some of the
            industry's best handicapping experts.</p>

         <p class="text-justify font-weight-bold home-text">
            The primary goal of the system is to find hidden wagering 
            opportunities at tracks around the world by tapping into the
            dynamically-changing data that is generated at those tracks.</p>

         <p class="text-justify font-weight-bold home-text">
            The system will handicap every race for which it can retrieve
            sufficient data, but by default, it will only automatically 
            recommend those races that represent a significant overlay
            opportunity.</p>
      </div>

    </div>  <!-- card-img-overlay -->
  </div>  <!-- card text-black -->

  <div class="card">
    <div id="horsepics" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#horsepics" data-slide-to="0" class="active"></li>
        <li data-target="#horsepics" data-slide-to="1"></li>
        <li data-target="#horsepics" data-slide-to="2"></li>
        <li data-target="#horsepics" data-slide-to="3"></li>
        <li data-target="#horsepics" data-slide-to="4"></li>
        <li data-target="#horsepics" data-slide-to="5"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/img/horse-2093435__340.jpg" class="image-fluid" alt="black horse">
        </div>
        <div class="carousel-item">
          <img src="/img/horse-2359622__340.jpg" class="image-fluid" alt="narrow white marking">
        </div>
        <div class="carousel-item">
          <img src="/img/horse-2642112__340.jpg" class="image-fluid" alt="wide white marking">
        </div>
        <div class="carousel-item">
          <img src="/img/horse-2642128__340.jpg" class="image-fluid" alt="gray horse">
        </div>
        <div class="carousel-item">
          <img src="/img/horse-2649610__340.jpg" class="image-fluid" alt="dark brown horse">
        </div>
        <div class="carousel-item">
          <img src="/img/horse-2702681__340.jpg" class="image-fluid" alt="white horse">

        </div>
      </div>  <!-- carousel-inner -->

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#horsepics" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#horsepics" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>  <!-- carousel slide -->
  </div>  <!-- card -->
</div>  <!-- card-deck -->

<!--
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
-->
</div>  <!-- jumbotron -->

