		<div id="wrapper">
	    
		    <div id="horseimage">
		        <img src="/img/horses-380420_1920.jpg" id="picfile"
		             alt="Thoroughbreds leaving the starting gate" />
		    </div>
       
            <div id="temptext">
		        <p class="placeholdertext">
	                This site is the future home of a revolutionary new Thoroughbred
		            Handicapping system.<br />Races will be handicapped using one or more 
		            neural networks.</p>

                <p class="placeholdertext">
                    The methodology is currently under development. It will use not 
                    only use past performance<br /> statistics and result charts, but also the
                    combined knowledge contained in the published<br />works of some of the
                    industry's best handicapping experts.</p>

                 <p class="placeholdertext">
                    The primary goal of the system is to find hidden wagering 
                    opportunities at tracks around<br />the world by tapping into the
                    dynamically-changing data that is generated at those tracks.</p>

                 <p class="placeholdertext">
                    The system will handicap every race for which it can retrieve
                    sufficient data, but by default,<br />it will only automatically 
                    recommend those races that represent a significant overlay
                    opportunity.</p>
            </div>
            
        </div>

