        <h4>Race Review Format</h4>
            <form class="form-inline"> 
              <label for="racedate">Date</label>
              <input type="text" class="form-control mb-2 mr-sm-2 ml-sm-2 form-control-sm" id="racedate" size="10" />

              <label for="racetrack">Track</label>
              <input type="text" class="form-control mb-2 mr-sm-2 ml-sm-2 form-control-sm" id="racetrack" size="4" />

              <label for="racenumber">Race</label>
              <input type="text" class="form-control mb-2 mr-sm-2 ml-sm-2 form-control-sm" id="racenumber" size="2" />

              <label for="racedistance">Distance</label>
              <input type="text" class="form-control mb-2 mr-sm-2 ml-sm-2 form-control-sm" id="racedistance" size="16" />

              <label for="raceclass">Class</label>
              <input type="text" class="form-control mb-2 mr-sm-2  ml-sm-2 form-control-sm" id="raceclass" size="20" />

              <label for="racepurse">Purse</label>
              <input type="text" class="form-control mb-2 mr-sm-2 ml-sm-2 form-control-sm" id="racepurse" size="14" />

            </form>

            <form class="form-inline"> 
              <label for="conditions">Basic<br />Conditions</label>
              <textarea class="form-control mb-2 mr-sm-2 ml-sm-2 form-control-sm" id="conditions" rows="2" cols="40" ></textarea>
            </form>

            <div class="table-responsive-sm">
              <table class="table table-bordered">
                <div class="row">
                  <thead>
                    <th class="rrvhead">Horse</th>
                    <th class="rrvhead vert">Post No</th>
                    <th class="rrvhead vert">Age</th>
                    <th class="rrvhead vert">Sex</th>
                    <th class="rrvhead">Days Since Last Race</th>
                    <th class="rrvhead viewport">Score</th>
                    <th class="rrvhead">Distance Suitable Score</th>
                    <th class="rrvhead">Consistency<br />Win %&nbsp;&nbsp;Plc %</th>
                    <th class="rrvhead vert">Score</th>
                    <th class="rrvhead">Recent Form<br />Results&nbsp;&nbsp;&nbsp;Beaten<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lengths</th>
                    <th class="rrvhead vert">Score</th>
                    <th class="rrvhead">Av&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Earnings<br />Last 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This&nbsp;&nbsp;&nbsp;&nbsp;Av. For<br />Races&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Race&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Season</th>
                    <th class="rrvhead vert">Score</th>
                    <th class="rrvhead">Pace Fractional Times</th>
                    <th class="rrvhead">Front Running Ability</th>
                    <th class="rrvhead vert">Score</th>
                    <th class="rrvhead">Av Speed Rating<br />____________<br />Highest<br />&nbsp;&nbsp;&nbsp;S.R.</th>
                    <th class="rrvhead vert">Score</th>
                    <th class="rrvhead">Weight<br />Actual<br />&nbsp;&nbsp;&nbsp;+/-</th>
                    <th class="rrvhead vert">Score</th>
                    <th class="rrvhead">Odds<br />&nbsp;&nbsp;&nbsp;$</th>
                    <th class="rrvhead">Final<br />Rating</th>
                  </thead>
                </div>  <!-- row -->

                <div class="row">
                  <tr>
                    <td>Proud Sam</td>
                    <td>1</td>
                    <td>5</td>
                    <td>H</td>
                    <td>15</td>
                    <td>2</td>
                    <td>0</td>
                    <td>4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11</td>
                    <td><span class="text-danger">E</span></td>
                    <td><span class="verysmall">8, 9, 5 &nbsp; 24, 16, 8</span></td>
                    <td>1</td>
                    <td>180 140 400</td>
                    <td>3</td>
                    <td> </td>
                    <td> </td>
                    <td>0</td>
                    <td>94</td>
                    <td>1</td>
                    <td>108<br />-4</td>
                    <td>1</td>
                    <td>49.3</td>
                    <td>8/E</td>
                  </tr>
                </div>   <!-- row -->

                <div class="row">
                        <tr>
                          <td>A Thousand Hopes</td>
                          <td>3</td>
                          <td>5</td>
                          <td>H</td>
                          <td>15</td>
                          <td>2</td>
                          <td>1</td>
                          <td>12&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;29</td>
                          <td> </td>
                          <td><span class="verysmall">4, 5, 9 &nbsp; 2.5 3, 9.5</span></td>
                          <td>3</td>
                          <td>200 160 1000</td>
                          <td>6</td>
                          <td>47.8 1:12</td>
                          <td> </td>
                          <td>0</td>
                          <td>98<br />99</td>
                          <td>2</td>
                          <td>112<br /></td>
                          <td>1</td>
                          <td>8.00</td>
                          <td>16</td>
                        </tr>
                      </div>   <!-- row -->
      
              </table>
            </div>    <!-- table-responsive-->
