      <div class="jumbotron">
        <p>Use this page to upload Formulator 4 .csv files to a directory on the server from where they can be  loaded into the database.</p>
        <p>Simply click the button below to get started.</p>

        <!-- Button trigger modal -->
        <div class="mt-4 pt-5 d-flex justify-content-center">
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                  data-target="#myModal">Click here to launch the Data Upload form</button>
        </div>
      </div>  <!-- jumbotron -->

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" arialabelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Data Select</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <h4>Formulator 4 File Upload Selection</h4>
              <p class="text-muted small">Specify the parameters that you want to use for selecting the files that will be uploaded.</p>
              <form>
                <div class="form-group">
                  <label for="startdate">Start Date</label>
                  <input type="date" class="form-control mb-3" id="startdate" name="startdate"
                         min="2004-04-09" max="2012-09-01">

                  <label for="enddate">End Date</label>
                  <input type="date" class="form-control mb-3" id="enddate" name="enddate"
                         min="2004-04-09" max="2012-09-01">
                  <div class="checkbox" mb-3>
                    <label>
                      <input type="checkbox"> End Date same as Start Date
                    </label>
                  </div>

                  <p class="text-muted small pt-1">Hold down Ctrl or Cmd Key to choose more than one</p>
 
                  <div class="input-group mb-3" id="trackselect">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="racetracks">Race Track(s)</label>
                    </div>

                    <select class="custom-select" id="racetrackselect">
                      {{#each data.tracksresults}}
                        <option>
                          {{this.TrackCode}}&nbsp;{{this.LongName}}&nbsp;{{this.State}}
                        </option>
                      {{/each}}
                    </select>
                  </div>  <!-- input-group mb-3  -->
                </div>  <!-- form-group -->

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>  <!-- modal-body -->
          </div>  <!-- modal-content -->
        </div>  <!-- modal-dialog -->
      </div>  <!-- modal fade -->
